<!DOCTYPE html>
<html>

<head>
<title>StudyBuddy AI</title>

<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

</head>


<body>

<h1>📚 Welcome to StudyBuddy AI</h1>

 <div style="text-align:center; margin:30px 0;">
        <span style="color:white;
                     padding:12px 30px;
                     border-radius:10px;
                     font-size:30px;
                     display:inline-block;">
            Your Smart Learning Assistant
        </span>
    </div>



<a href="/login">Login</a>

<a href="/register">Register</a>


</body>

</html>