<!DOCTYPE html>
<html>
<head>
    <title>AI Summary - StudyBuddy AI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h2>📝 AI PDF Summary</h2>

    <form method="POST">
        <button type="submit">Generate Summary</button>
    </form>


    {% if summary %}

    <div class="generative-summary">

        <h2>Generative Summary</h2>

        <p>{{ summary }}</p>

    </div>

    {% endif %}


    <a href="/dashboard">⬅ Back to Dashboard</a>

</body>
</html>